@charset "UTF-8";

/*    --------------------------------------------------
    = Slider
    -------------------------------------------------- */
.baseline {
    height: 60px;
    width: 100%;
    font-family: 'Journal', sans-serif;
    font-size: 33px;
    line-height: 55px;
    text-align: center;
    letter-spacing: .5px;
}
.slider {
    position: relative;
    width: 100%;
    height: 407px;
    margin-bottom: 30px;
}
.default_slider .photo,
.slide,
.slide-img,
.slide-bg,
.slider .bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider .bg {
    z-index: 0;
    /*background: url(../img/bg/slider.jpg) left top repeat;*/
}
.slider .bg:before,
.slider .bg:after {
    content:'';
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
}
.slider .bg:before {
    background: url(../img/bg/shadow-slider-left.png) left top no-repeat;
}
.slider .bg:after {
    background: url(../img/bg/shadow-slider-right.png) right top no-repeat;
}

/*Slide*/
.slide-img {
    background-position: center top;
    background-repeat: no-repeat;
}
.slide-bg {
    z-index: 0;
}
.slide-img {
    z-index: 1;
}
.slide-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
}
.slide-wrapper .txt {
    position: relative;
    top: 100px;
    left: 620px;
    width: 320px;
    text-align: justify;
}
.slide-wrapper .align-left {   left: 20px; }
.slide-wrapper .align-center { left: 330px; }
.slide-wrapper .align-right {  left: 620px; }
.slide-wrapper h2 {
    padding-bottom: 18px;
    margin-bottom: 16px;
    font-size: 23px;
    color: #242424;
    border-bottom: 1px dashed #fa899a;
}
.slide-wrapper h2 strong {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    letter-spacing: .5px;
}
.slide-wrapper p {
    line-height: 20px;
    margin-bottom: 16px;
}

.slider nav {
    position: absolute;
    z-index: 400;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 26px;
}
.slider nav ul {
    position: relative;
    margin: 0 auto;
    width: 980px;
}
.slider .prev,
.slider .next {
    position: absolute;
    top: 192px;
    display: block;
    width: 26px;
    height: 26px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/icons/slider-nav.png) no-repeat;
    opacity: 0.6;
    -moz-opacity: 0.6;
}
.slider .prev {
    left: -60px;
    background-position: right top;
}
.slider .prev:hover {
    background-position: left top;
    opacity: 1;
    -moz-opacity: 1;
}
.slider .next {
    right: -60px;
    background-position: left bottom;
}
.slider .next:hover {
    background-position: right bottom;
    opacity: 1;
    -moz-opacity: 1;
}

/*    --------------------------------------------------
    = Boxes 3
    -------------------------------------------------- */
.boxes3 {
    margin-bottom: 20px;
}
.info-box {
    width: 312px;
    height: 68px;
    border: 1px solid #dcdcdc;
}
.catalog-boxes .advice-box.active,
.catalog-boxes .advice-box:hover,
.info-box.active,
.info-box:hover {
    background-color: #ee5a24;
    background-repeat: repeat-y;
    background-image: -webkit-linear-gradient(left, #d93d04 0%,#f25f2a 100%);
    background-image:    -moz-linear-gradient(left, #d93d04 0%,#f25f2a 100%);
    background-image:     -ms-linear-gradient(left, #d93d04 0%,#f25f2a 100%);
    background-image:      -o-linear-gradient(left, #d93d04 0%,#f25f2a 100%);
    background-image:         linear-gradient(left, #d93d04 0%,#f25f2a 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#d93d04), color-stop(100%,#f25f2a));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93d04', endColorstr='#f25f2a',GradientType=1 );
    border: 1px solid #d93d04;
}
.info-box a {
    display: block;
    height: 58px;
    padding: 5px 20px 5px 85px;
    background: url(../img/sprites/info-box.png) 35px top no-repeat;
}
.info-box.florist a,
.info-box.flower a {
    height: 38px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 18px;
}
.info-box.delivery a {background-position: 35px 0px;}
.info-box.delivery.active a,
.info-box.delivery:hover a {background-position: 35px -70px;}
.info-box.flower a {background-position: 35px -140px;}
.info-box.flower.active a,
.info-box.flower:hover a {background-position: 35px -210px;}
.info-box.florist a {background-position: 35px -280px;}
.info-box.florist.active a,
.info-box.florist:hover a {background-position: 35px -350px;}
.info-box span {
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
    color: #f27405;
}
.info-box h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #444;
}
.info-box.active h3,
.info-box.active span,
.info-box:hover h3,
.info-box:hover span {
    color: #fff;
}

.info-box-definition {
    position: relative;
    display: none;
    width: 100%;
    margin-bottom: 20px;
    background: url(../img/bg/info-box.png) left top repeat #f8f8f8;
    border: 1px solid #dcdcdc;
}
/* Styling for the two triangle (border) */
.info-box-definition:after,
.info-box-definition:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 152px;
    margin-left: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    border-left: 10px solid transparent;
}
.info-box-definition:before {
    top: -12px;
    right: 150px;
    margin-left: -12px;
    border-right: 12px solid transparent;
    border-bottom: 12px solid;
    border-bottom-color: inherit; /* Can't be included in the shorthand to work */
    border-left: 12px solid transparent;
}
.info-box-definition.florist:before,
.info-box-definition.florist:after {
    right: inherit;
    left: 144px;
}
.info-box-definition.delivery:before,
.info-box-definition.delivery:after {
    right: inherit;
    left: 50%;
}
.info-box-definition.active,
.info-box-definition:target {
    display: block;
}

.info-box-definition.florist .first {
    background: url(../img/sprites/info-box.png) 10px -280px no-repeat;
}
.info-box-definition.delivery .first {
    background: url(../img/sprites/info-box.png) 10px 0 no-repeat;
}
.info-box-definition.flower .first {
    background: url(../img/sprites/info-box.png) 10px -140px no-repeat;
}
.info-box-definition .the_grid > div> * {
    padding: 10px 20px 10px 60px;
    margin: 10px 0;
}
.info-box-definition .the_grid > div + div > * {
    border-left: 1px dotted #dcdcdc;
}
.info-box-definition .title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f27405;
}

/*    --------------------------------------------------
    = Content
    -------------------------------------------------- */
.home-content {
    text-align: center;
}
.home-content,
.home-content > div {
    min-height: 700px;
}
.home-content > div {
    float: left;
}
.home-content > :first-child {
    width: 315px;
}
.home-content > * + * {
    width: 665px;
}

/*    --------------------------------------------------
    = Sidebar
    -------------------------------------------------- */
.home-content .sidebar ul > li {
    width: 310px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
.home-content .sidebar .facebook-box {
    border: none;
}

.home-content .sidebar .push_simple {
    display: block;
    width: 310px;
    height: 165px;
    background-image: url(../img/push-310.jpg);
}
.home-content .sidebar .push_simple .after {
    background-image: url(../img/push-310-hover.jpg);
}
/*widget subscribe-newsletter*/
.widget-subscribe-newsletter > div {
    padding: 20px 0 20px 45px;
    background: url(../img/florist.png) 12px center no-repeat;
}
.widget-subscribe-newsletter label {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.widget-subscribe-newsletter label strong {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.widget-subscribe-newsletter label small {
    font-size: 11px;
    font-weight: 200;
    color: #d93d04;
}
.widget-subscribe-newsletter input {
    width: 160px;
}
.widget-subscribe-newsletter button {
    margin-left: 6px;
}

/*    --------------------------------------------------
    = Home Catalog
    -------------------------------------------------- */
.home-catalog {
    width: 643px;
    height: 643px;
    padding-left: 22px;
    margin-bottom: 30px;
    overflow: hidden;
    background: url(../img/bg/home-catalog.png) 22px 0 repeat-y;
}
.home-catalog > li {
    position: relative;
    float: left;
}
.home-catalog > li:nth-child(2n) {
    margin-left: -1px;
}
.home-catalog > li + li + li {
    margin-top: -1px;
}

