@charset "UTF-8";

/* ----------------------------------------------------------
   CATALOG
   ------------------------------------------------------- */

.catalog-boxes {
    margin-top: 20px;
}
.catalog-boxes .event-box {
    position: relative;
    float: left;
    width: 645px;
    height: 125px;
    margin: 0 20px 22px 0;
    text-align: center;
    background: url(../img/bg/event-box.png) left top repeat #ffc492;
}
.event-box:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 20px;
    background: url(../img/shadow-left.png) center top no-repeat;
    background-size: cover;
}
.event-box > div {
    height: 105px;
    padding: 10px 240px 10px 40px;
    background: url(../img/bg/event-flower.png) right bottom no-repeat;
}
.event-box h3 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 20px 10px 20px;
    margin-bottom: 10px;
    font-family: "Times New Roman", serif;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: #242424;
    border-bottom: 1px dashed #da3f06;
}
.event-box p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.catalog-boxes .advice-box {
    float: left;
    width: 313px;
    height: 125px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border: 1px solid #dcdcdc;
}
.catalog-boxes .advice-box a {
    display: block;
    width: 100%;
    height: 65px;
    padding: 30px 0;
    line-height: 28px;
    color: #444;
    background: url(../img/bg/advice-box.png) center center no-repeat;
}
.catalog-boxes .advice-box.active a,
.catalog-boxes .advice-box:hover a {
    color: #fff;
}
.catalog-boxes .advice-box strong {
    display: block;
    font-weight: bold;
    font-size: 33px;
}
.catalog-content .info-box-definition .the_grid > div > * {
    padding: 10px 20px 10px 20px;
}

/*    --------------------------------------------------
    = Catalog list
    -------------------------------------------------- */
.catalog-content .actions {
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}
.catalog-content .breadcrumb {
    float: left;
    line-height: 40px;
}
.catalog-content .sortby {
    float: right;
}
.catalog-content .sortby-form {
    padding: 0;
    text-transform: uppercase;
}
.catalog-content .sortby-form label {
    line-height: 25px;
}
.catalog-list {
    margin: 0 auto;
}
.catalog-list > li {
    position: relative;
    float: left;
}
.catalog-list .one-product:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 6%;
    display: block;
    width: 88%;
    height: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.catalog-list .one-product:after {
    content: '';
    position: absolute;
    top: 6%;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 88%;
    margin: 0 auto;
    border-right: 1px solid #dcdcdc;
}
.catalog-list > li:nth-child(2n),
.catalog-list > li:nth-child(2n+1) {
    margin-left: -1px;
}
.catalog-list > li + li + li + li {
    margin-top: -1px;
}
.catalog-list > li + li + li + li .one-product:before {
    display: none;
    border: none;
}
.catalog-list > li:nth-child(3n) .one-product:after {
    display: none;
    border: none;
}

.more-products {
    display: block;
    width: 100%;
    height: 55px;
    margin: 20px auto 25px;
    font-weight: 200;
    text-align: center;
    line-height: 55px;
    color: #f29f05;
    text-shadow: 0 -1px 0px rgba(0,0,0,.2);
    background: url(../img/bg/more-products.png) center top no-repeat;
    opacity: 0.99999;
    -moz-opacity: 0.99999;
}
.more-products:hover {
    color: #936c42;
    text-shadow: none;
}
.lt_ie9 .more-products:hover,
.lt_ie9 .more-products {
    opacity: 1;
    -moz-opacity: 1;
}


.titre-infos {
    position:relative;
    float:left;
    width:500px;
    overflow:hidden;
    margin-bottom:15px;
}

.titre-infos h1 {
    font-size:18px;
    padding:0 0 10px;
    color:#242424;
}

.titre-infos p {
    font-size:12px;
    line-height:17px;
    color:#444;
}

#contact-apropos {
    margin:0 0 46px;
}

#contact-apropos .box {
    padding-bottom:17px;
}

#contact-apropos #tel {
    width:216px;
}

#motif {
    width:270px;
}

#num-com-fact,
#objet {
    width:330px;
}

#contact-apropos .selector {
    width:270px;
}

#contact-apropos .selector span {
    background-position:94% center;
}

#contact-apropos button {
    margin-top: 40px;
    height:38px;
    line-height:38px;
}

/* ----------------------------------------------------------
   RESEAU
   ------------------------------------------------------- */

.content-reseau {
    position: relative;
    margin: 0 0 30px;
}

.content-reseau.shadow:after {
    bottom:-28px;
}

#search-reseau > .search-helper,
#search-reseau > label,
#search-reseau > input,
#search-reseau > button {
    float:left;
    margin-top:10px;
}
#search-reseau > label {
    margin: 0;
}

#search-reseau {
    position:relative;
    width:566px;
    height:67px;
    float:right;
    background:url(../img/bg/texture.png) repeat;
    border:1px solid #dedede;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-background-clip: border-box;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom:none;
}
.lt_ie9 #search-reseau {
    width: 575px;
}

#search-fleuriste {
    width:159px;
    height:26px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow:inset 0px 2px 3px rgba(0,0,0,0.15);
    -moz-box-shadow:inset 0px 2px 3px rgba(0,0,0,0.15);
    -o-box-shadow:inset 0px 2px 3px rgba(0,0,0,0.15);
    -ms-box-shadow:inset 0px 2px 3px rgba(0,0,0,0.15);
    box-shadow:inset 0px 2px 3px rgba(0,0,0,0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#search-reseau button {
    width:35px;
    height:26px;
    line-height:26px;
    font-size:13px;
    font-family:"Trebuchet MS",serif;
    margin-left:10px;
}

#search-reseau label {
    padding:5px 10px 0 18px;
    font-size:13px;
    color:#747474;
    font-style:italic;
}

.search-helper {
    position:absolute;
    width:156px;
    height:53px;
    display:block;
    right:0;
    top:-47px;
    background:url(../img/search-helper.png) no-repeat top left;
}

.result {
    padding:20px;
    border:1px solid #dedede;
    position:relative;
    display:block;
    overflow:hidden;
}

.list-286,
.list-172 {
    width:286px;
    position:relative;
    display:block;
    float:left;
}

.list-172 {
    width:172px;
}

.list-286 + .list-286 {
    border-left:1px dotted #dcdcdc;
    padding-left:19px;  
    margin-left:19px;
}

.list-172 + .list-172 {
    margin-left:19px;
}

.list-172 li a,
.list-286 li a {
    color:#444;
    font-size:12px;
}

.list-286 li,
.list-172 li{
    padding:0 0 4px;
}

.list-172 li a:hover,
.list-172 li a:hover,
.list-286 li a:hover,
.list-286 li a:focus {
    color:#f27405;
}

.list-286 li a > span {
    color:#f27405;
    font-weight:700;
}

.result h3 {
    font-size:18px;
    color:#242424;
    float:left;
    display:inline-block;
}

.header-result {
    overflow:hidden;
    position:relative;
    display:block;
    height:42px;
}

.header-result a.link {
    float:right;
    margin:0;
}

.header-result a.link:hover,
.header-result a.link:focus {
    color:#F27405;
}

/*    --------------------------------------------------
    = Reseau 18
    -------------------------------------------------- */
.one-florist header .simple-title {
    float: left;
}
.one-florist header .float-item {
    float: right;
    margin: 0;
}
.one-florist .main {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #e0e0e0;
}
.one-florist .more-products {
    margin-bottom: 10px;
    line-height: 45px;
    background-image: url(../img/bg/tongue-560.png);
}
.one-florist .col-main {
    float: left;
    width: 560px;
    margin-right: 20px;
}
.one-florist .col-florists {
    float: left;
    width: 358px;
}
.one-florist p {
    margin-bottom: 18px;
}
.one-florist .thumb-560 {
    height: 362px;
}
.one-florist .list-cards {
    margin-bottom: 20px;
}
.one-florist .button {
    float: right;
}

.one-florist .cities-form {
    margin-bottom: 8px;
}
.one-florist .cities-form .selector {
    width: 356px;
}
.one-florist .cities-form .selector span {
    font-size: 11px;
    color: #444;
}

.florists-box {
    border: 1px solid #dedede;
}
.florists-box header {
    position: relative;
    height: 40px;
    padding: 10px 80px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #f27405;
    text-shadow: 1px 1px 1px #fff;
    background: url(../img/bg/texture.png) top left repeat;
    border-bottom: 1px solid #dedede;
}
.florists-box header:after {
    content:'';
    text-align:center;
    position:absolute;
    bottom:-12px;
    background:url(../img/arrow-table.png) no-repeat center center;
    width:40px;
    height:13px;
    left:50%;
    margin-left:-19px;
}
.florists-box .container {
    padding: 20px;
}
.scroll-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.florists-pan {
    position: relative;
    float: left;
    width: 100%;
    height: 565px;
    overflow: hidden;
}
.florists-pan .scrollme {
    position: absolute;
    top: 0;
    left: 0;
}
.florists-pan .scrollme li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #dcdcdc;
}
.florists-pan .scrollme li:last-child {
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none;
}
.florists-pan .scrollme a {
    color: #f27405;
}
.florists-box .slider-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    background-color: #dcdcdc;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    -ms-border-radius:     5px;
    -o-border-radius:      5px;
    border-radius:         5px;
}
.florists-box .ui-slider {
    position: relative;
    width: 11px;
    height: 505px;
    margin-top: 60px;
}
.florists-box .ui-slider .ui-slider-handle {
    position: absolute;
    display: block;
    width: 9px;
    height: 60px;
    background-color: #f2f2f2;
    background-repeat: repeat-y;
    background-image: -webkit-linear-gradient(left, #e5e5e5 0%,#f5f5f5 100%);
    background-image:    -moz-linear-gradient(left, #e5e5e5 0%,#f5f5f5 100%);
    background-image:     -ms-linear-gradient(left, #e5e5e5 0%,#f5f5f5 100%);
    background-image:      -o-linear-gradient(left, #e5e5e5 0%,#f5f5f5 100%);
    background-image:         linear-gradient(left, #e5e5e5 0%,#f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=1 );
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    -ms-border-radius:     5px;
    -o-border-radius:      5px;
    border-radius:         5px;
    -webkit-box-shadow: 0 2px 3px rgba(255,255,255,1) inset;
    -moz-box-shadow:    0 2px 3px rgba(255,255,255,1) inset;
    -ms-box-shadow:     0 2px 3px rgba(255,255,255,1) inset;
    -o-box-shadow:      0 2px 3px rgba(255,255,255,1) inset;
    box-shadow:         0 2px 3px rgba(255,255,255,1) inset;
}
.florists-box .ui-slider .ui-slider-handle:hover,
.florists-box .ui-slider .ui-slider-handle:active {
    -webkit-box-shadow: 0 1px 10px rgba(255,255,255,1) inset;
    -moz-box-shadow:    0 1px 10px rgba(255,255,255,1) inset;
    -ms-box-shadow:     0 1px 10px rgba(255,255,255,1) inset;
    -o-box-shadow:      0 1px 10px rgba(255,255,255,1) inset;
    box-shadow:         0 1px 10px rgba(255,255,255,1) inset;
}

.mapcard {
    padding: 1px;
    background: url(../img/bg/map.jpg) right center no-repeat #fff;
    border: 5px solid #dcdcdc;
}
.mapcard .aside {
    position: relative;
    float: left;
    width: 317px;
    height: 368px;
    padding: 20px 25px 20px 15px;
    background: url(../img/bg/mapcard.jpg) left top no-repeat #f6f6f6;
}
.mapcard .aside ul {
    position: absolute;
    top: 105px;
    width: 310px;
    word-wrap: break-word;
}
.mapcard .aside li {
    padding-bottom: 13px;
    margin-bottom: 18px;
    background: url(../img/bg/mapcard-li.png) left bottom repeat-x;
}
.mapcard .aside li:last-child {
    background: none;
}
.mapcard .title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    color: #f27405;
}
.mapcard .aside strong {
    display: block;
    margin-bottom: 6px;
    font-size: 13px;
    text-transform: uppercase;
}

/*    --------------------------------------------------
    = Login
    -------------------------------------------------- */
.content-login {
    margin-bottom: 140px;
}
.content-login .col-login,
.content-login .col-register {
    float: left;
    min-height: 310px;
}
.content-login .col-login {
    width: 320px;
    margin-right: 20px;
}
.content-login .col-register {
    width: 640px;
}
.content-login .login,
.content-login .register-push {
    height: 100%;
}
.register-push,
.login {
    border: 1px solid #e2e2e2;
}
.register-push header,
.login header {
    padding: 16px 63px;
    font-size: 18px;
    text-align: center;
    color: #242424;
    letter-spacing: 1px;
    border-bottom: 1px solid #e2e2e2;
}
.register-push label,
.login label {
    line-height: 30px;
}
.register-push .button,
.login .button {
    height: 35px;
    line-height: 35px;
}
.login fieldset {
    padding: 0px 20px;
}
.login small a {
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    color: #b9b9b9;
}

.register-push {
    background: url(../img/bg/texture.png) left top repeat;
}
.register-push header {
    height: 24px;
    background: url(../img/bg/texture.png) left top repeat;
}
.register-push header + div {
    min-height: 218px;
    padding: 15px 170px 20px 20px;
    background: url(../img/bg/register-push.png) right bottom no-repeat;
}
.register-push span {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}
.register-push p {
    margin-bottom: 18px;
    padding-right: 45px;
}
.register-push p:first-of-type {
    padding-right: 0px;
}

/*    --------------------------------------------------
    = Register form
    -------------------------------------------------- */
.register-form .content-title {
    float: left;
    margin-bottom: 15px;
}
.register-form .content-title + .float-item {
    float: right;
}
.content-register .content {
    width: 630px;
}
.register-sidebar p {
    color: #999;
    letter-spacing: .5px;
}

/* ----------------------------------------------------------
   = Informations
   ------------------------------------------------------- */

.about-sidebar li,
.informations-sidebar li {
    position:relative;
    height:100%;
    border-bottom:1px dashed #dedede;
}

.about-sidebar li a,
.informations-sidebar li a {
    display:block;
    height:37px;
    width:100%;
    color:#444;
    font-size:14px;
    line-height:37px;
    padding:0 0 0 29px;
}

.about-sidebar li > a,
.informations-sidebar .top-level > li > a {
    display:inline-block;
    *display:inline;
    *zoom: 1;
    width: auto;
    padding-right: 15px;
}

.about-sidebar li:before,
.informations-sidebar .top-level > li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 37px;
    background-image:url(../img/sprites/sprite-nav-infos.png);
    background-repeat:no-repeat;
}
.informations-sidebar .local-delivery:before { background-position:0 0; }
.informations-sidebar .world-delivery:before { background-position:0 -74px; }
.informations-sidebar .affiliation:before {    background-position:0 -148px; }
.informations-sidebar .plan-site:before {      background-position:0 -222px; }
.informations-sidebar .cgv:before {            background-position:0 -296px; }
.informations-sidebar .espace-ent:before {     background-position:0 -370px; }

.informations-sidebar .top-level > li > a:hover,
.informations-sidebar .top-level > li > a:focus,
.informations-sidebar .top-level > .current > a {
    color:#d93d04;
}

/*    --------------------------------------------------
    = About
    -------------------------------------------------- */

.about-sidebar li:before { background-image:url(../img/sprites/sprite-nav-apropos.png); }
.about-sidebar .contact123:before { background-position:0 -74px; }
.about-sidebar .acces:before { background-position:0 -148px; }
.about-sidebar .mentions:before { background-position:0 -222px; }
.about-sidebar .current.quisommesnous:before { background-position:0 -37px; }
.about-sidebar .current.contact123:before { background-position:0 -111px; }
.about-sidebar .current.acces:before { background-position:0 -185px; }
.about-sidebar .current.mentions:before { background-position:0 -259px; }

.about-sidebar a:hover,
.about-sidebar a:focus,
.about-sidebar .current > a {
    color:#d93d04;
}

/* ----------------------------------------------------------
   Current el
   ------------------------------------------------------- */

.informations-sidebar .current.local-delivery:before { background-position:0 -37px; }
.informations-sidebar .current.world-delivery:before { background-position:0 -111px; }
.informations-sidebar .current.affiliation:before {    background-position:0 -185px; }
.informations-sidebar .current.plan-site:before {      background-position:0 -259px; }
.informations-sidebar .current.cgv:before {            background-position:0 -333px; }
.informations-sidebar .current.espace-ent:before {     background-position:0 -407px; }

.informations-sidebar .current > a {
    background:url(../img/icons/arrow-current.png) no-repeat right 13px;
}

/*second level menu*/
.informations-sidebar ul.list li {
    border:none;
    height:auto;
    padding-bottom:5px;
}

.informations-sidebar ul.list {
    padding:0 0 4px 25px;
}

.informations-sidebar ul.list li a {
    height:auto;
    line-height:19px;
    background:none;
    padding:0;
    display:inline;
}

.informations-sidebar .current ul.list li a {
    color:#444;
}
.informations-sidebar .current ul.list li a:hover,
.informations-sidebar .current ul.list li a:focus {
    color:#D93D04;
}

.title-infos {
    height: 45px;
    margin-bottom: 18px;
    color: #444;
    font-size: 18px;
    text-transform:uppercase;
    text-align: center;
    background: url(../img/shadow-title.png) center bottom no-repeat;
}

.content-informations h3 {
    font-size:18px;
    padding:0 0 10px;
}

.content-informations p {
    font-size:12px;
    line-height:17px;
}

.img-infos {
    overflow:hidden;
    position:relative;
    padding-bottom: 10px;
    margin:20px 0 3px;
}
.img-infos .shadow-320:after {
    width: 323px;
    bottom: -7px;
}

.img-infos > div {
    float:left;
    width: auto;
}

.img-infos > div + div {
    float:right;
}

.img-infos > div + div:before {
    content:'';
    width:1px;
    height:216px;
    position:relative;
    border-left:1px dotted #dedede;
    position:absolute;
    left:-17px;
}

.inner-title {
    font-size:20px;
    color:#444;
    text-transform:uppercase;
    background: url(../img/shadow-inner-title.png) center bottom no-repeat;
    margin:0 0 12px;
}

.part-infos + .part-infos {
    margin-top:20px;
}

.inner-title > img {
    position:relative;
    left:4px;
}

.arrow-content {
    padding:0 0 0 11px;
    background: url(../img/icons/sup.png) left 3px no-repeat;
}

.part-infos p + p {
    margin-top:13px;
}

.content-informations .button {
    float:right;
    margin:25px 0 15px;
}

/* ----------------------------------------------------------
   = Conseils
   ------------------------------------------------------- */

.advices-sidebar nav li {
    position:relative;
    display:block;
    line-height:37px;
    border-bottom:1px dashed #dedede;
}

.advices-sidebar nav li a {
    display:inline-block;
    *display:inline;
    *zoom: 1;
    padding-right: 15px;
    color:#444;
    font-size:14px;
}

.advices-sidebar .current a {
    background:url(../img/icons/arrow-current.png) no-repeat right 13px;
}

.advices-sidebar nav li a:hover,
.advices-sidebar nav li a:focus,
.advices-sidebar nav li.current a{
    color:#d93d04;
}

.title-advice {
    font-size:18px;
    padding-bottom:4px;
}

.title-advice span {
    color:#f29f05;
}

.advices-content .under-title {
    font-size:15px;
    padding-bottom:20px;
}

.advices-content p {
    color:#444;
    font-size:12px;
    line-height:17px;
    padding-bottom:20px;
}

.advices-content .img-infos {
    margin:0 0 10px;
}

.head-mini-loop {
    height:50px;
    overflow:hidden;
    position:relative;
    background: url(../img/shadow-inner-title.png) center bottom no-repeat;
}

.head-mini-loop a {
    float:right;
}

.head-mini-loop h3 {
    text-transform:uppercase;
    font-size:20px;
    color:#444;
    float:left;
}

.after-content-list {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}
.after-content-list li {
    display: inline;
    font-size: 13px;
    line-height: 18px;
    color: #999;
}
.after-content-list li + li:before {
    content: ' - ';
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px;
}
.after-content-list li a {
    color: #999;
}