@charset "UTF-8";
/*    --------------------------------------------------
    = Variables
    -------------------------------------------------- */
/*
red : #DD4B39
green : #00D892
blue: #4A86E8
*/

/*    --------------------------------------------------
    = Layout
    -------------------------------------------------- */

body {
    font: 18px 'Bitter', serif;
    color: #333;
    background-color: #f0f0f0;
    text-align: justify;
}

.wrapper {
    position: relative;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    margin: 0 0 0 -500px;
    -webkit-transition: width .4s ease .1s;
    -moz-transition:    width .4s ease .1s;
    -ms-transition:     width .4s ease .1s;
    -o-transition:      width .4s ease .1s;
    transition:         width .4s ease .1s;
}

.main-col {
    max-width: 66%;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    margin: 20px auto 30px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #DD4B39;
}

pre {
    position: relative;
/*    display: inline-block;
    *display: inline;
    *zoom: 1;*/
    max-width: 100%;
    padding: 6px 50px;
    margin-bottom: 20px;
    overflow: auto;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
    font-size: 18px;
    line-height: 20px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    -ms-border-radius:     3px;
    -o-border-radius:      3px;
    border-radius:         3px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6em;
}

a {
  color: #DD4B39;
  -webkit-transition: color .2s;
  -moz-transition:    color .2s;
  -ms-transition:     color .2s;
  -o-transition:      color .2s;
  transition:         color .2s;
}

a:hover {
  color: #ff655f;
}

/*    --------------------------------------------------
    = Nav
    -------------------------------------------------- */

nav {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 200px;
    margin-left: -700px;
}

.exemple .main-col {
    float: left;
}

.exemple aside {
    float: right;
    max-width: 33%;
}

/*    --------------------------------------------------
    = Notes
    -------------------------------------------------- */

.note {
    /*position: relative;*/
    background-color: #fff7ce;
    /*position: relative;*/
    -webkit-transition: background-color .2s;
    -moz-transition:    background-color .2s;
    -ms-transition:     background-color .2s;
    -o-transition:      background-color .2s;
    transition:         background-color .2s;
        
}

.note:hover {
    background-color: #FFE599;
}

.exemple01 {
    position: relative;
}

#note-01-desc {
    /*position: absolute;*/
    /*left: 100%;*/
}

/*    --------------------------------------------------
    = Divers
    -------------------------------------------------- */

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom:1; }

/*    --------------------------------------------------
    = Github theme HIGHLIGHT.JS
    github.com style (c) Vasily Polovnyov <vast@whiteants.net>
    -------------------------------------------------- */

pre code {
  display: block;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #000;
  font-weight: bold
}

pre .number,
pre .hexcolor {
  color: #099
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .value {
    color: #008080
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #222
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073
}

pre .builtin,
pre .built_in,
pre .lisp .title {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}

pre .tex .formula {
  opacity: 0.5;
}
