@charset "UTF-8";
/*    --------------------------------------------------
    = Variables
    -------------------------------------------------- */
/*
red : #DD4B39
green : #00D892
blue: #4A86E8
*/

/*    --------------------------------------------------
    = Layout
    -------------------------------------------------- */

body {
    font: 18px 'Bitter', Cambria, serif;
    color: #333;
    background-color: #f0f0f0;
    text-align: justify;
}

.wrapper {
    position: relative;
    left: 50%;
    width: 100%;
    max-width: 900px;
    margin: 0 0 0 -450px;
    -webkit-transition: width .4s ease .1s;
    -moz-transition:    width .4s ease .1s;
    -ms-transition:     width .4s ease .1s;
    -o-transition:      width .4s ease .1s;
    transition:         width .4s ease .1s;
}

.main-col {
    max-width: 66%;
}

/*    --------------------------------------------------
    = Nav
    -------------------------------------------------- */

nav {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 100px;
    margin-left: -600px;
    text-align: left;
}

nav ol {
    list-style: decimal outside;
}

nav ol li:before {
    content: "";
}

/*    --------------------------------------------------
    = Notes
    -------------------------------------------------- */

.exemple .n {
    background-color: #FFE599;
    cursor: help;
    -webkit-transition: background-color .2s;
    -moz-transition:    background-color .2s;
    -ms-transition:     background-color .2s;
    -o-transition:      background-color .2s;
    transition:         background-color .2s;
}

.exemple .n:hover {
    background-color: #FFDA28;
}

.exemple01 {
    position: relative;
}

/*    --------------------------------------------------
    = Exemple
    -------------------------------------------------- */

.exemple {
    display: table;
    vertical-align: top;
}

.exemple > div,
.exemple aside {
    display: table-cell;
}

.exemple > div > * {
    margin: 0;
}

.exemple aside {
    padding-left: 20px;
}

.exemple aside li {
    position: relative;
    margin-bottom: 10px;
    line-height: 1.4em;
    opacity: 0.5;
    -webkit-transition: all .2s ease .1s;
    -moz-transition:    all .2s ease .1s;
    -ms-transition:     all .2s ease .1s;
    -o-transition:      all .2s ease .1s;
    transition:         all .2s ease .1s;
}

.exemple aside ul li {
    padding-left: 10px;
    list-style: none;
    border-left: 1px solid #bbb;
}

.exemple aside .active {
    left: 10px;
    padding: 5px 0 5px 10px;
    opacity: 1;
}

.exemple aside ul .active {
    border-left: 1px solid #333;
}

.exemple aside .active:first-child {
    padding-top: 0;
}

.exemple aside .active:last-child {
    padding-bottom: 0;
}

/*Order*/
.exemple-order .n {
    display: block;
    background-color: #fff7ce;
}

.github {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background: url(../img/github.png) center top no-repeat;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s;
    -moz-transition:    all .8s;
    -ms-transition:     all .8s;
    -o-transition:      all .8s;
    transition:         all .8s;
}

.github:hover {
    -webkit-filter: grayscale(0);
}

/*    --------------------------------------------------
    = Footer
    -------------------------------------------------- */

footer {
    padding: 10px 0 0 0;
    margin: 10px auto 20px;
    border-top: 1px solid #ccc;
}

/*    --------------------------------------------------
    = Commons
    -------------------------------------------------- */

h1,
h2 {
    font-weight: bold;
}

h1 {
    margin: 20px auto 30px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-style: italic; 
    color: #fff;
    background-color: #333;
}

.exemple,
p,
ul,
ol {
    margin-bottom: 20px;
}

p,
li {
    line-height: 1.6em;
}

ul {
    list-style: disc inside;
}

ol {
    counter-reset: list;
}

ol li:before {
    counter-increment: list;
    content: counter(list) " ";
    color: #aaa;
}

a {
    color: #DD4B39;
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
}

a:hover {
    color: #ff655f;
}

.aka span {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -moz-transition:    opacity .4s;
    -ms-transition:     opacity .4s;
    -o-transition:      opacity .4s;
    transition:         opacity .4s;
}

.aka:hover span {
    visibility: visible;
    opacity: .9999;
}


/*    --------------------------------------------------
    = Divers
    -------------------------------------------------- */

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom:1; }

/*    --------------------------------------------------
    = Github theme HIGHLIGHT.JS
    github.com style (c) Vasily Polovnyov <vast@whiteants.net>
    -------------------------------------------------- */

pre {
    position: relative;
    max-width: 100%;
    padding: 5px 40px;
    margin-bottom: 40px;
    overflow: auto;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
    font-size: 18px;
    line-height: 20px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    -ms-border-radius:     3px;
    -o-border-radius:      3px;
    border-radius:         3px;
}

pre code {
  display: block;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #000;
  font-weight: bold
}


pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .number,
pre .hexcolor,
pre .value {
    color: #dc3522
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal
}


pre .class,
pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #277473;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #222
}

pre .regexp {
  color: #009926
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073
}

pre .builtin,
pre .built_in,
pre .lisp .title {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}

pre .tex .formula {
  opacity: 0.5;
}
